# Flanneld configuration options  

# etcd url location.  Point this to the server where etcd runs
FLANNEL_ETCD="http://{{ etcd_server1 }}:{{ etcd_port_servers }},http://{{ etcd_server2 }}:{{ etcd_port_servers }}"

# etcd config key.  This is the configuration key that flannel queries
# For address range assignment
FLANNEL_ETCD_KEY="{{ flannel_etcd_key }}"

# Any additional options that you want to pass
#FLANNEL_OPTIONS=""
