# Comma separated list of nodes running etcd cluster
#KUBE_ETCD_SERVERS="--etcd-servers=http://10.10.10.50:2379"
# Logging will be stored in system journal
KUBE_LOGTOSTDERR="--logtostderr=true"
# Journal message level, 0 is debug
KUBE_LOG_LEVEL="--v=0"
# Should this cluster be allowed to run privileged docker containers
KUBE_ALLOW_PRIV="--allow-privileged=true"
# Api-server endpoint used in scheduler and controller-manager
KUBE_MASTER="--master=http://{{ pcs_masters_vip_address }}:{{ kube_api_port }}"
